body {
    margin: 0;
}
.mainColumn {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
}

.subHeader {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.headerLogo {
    margin-left: 100px;
    color: #f9faf8;
    font-size: 24px;
}

.headerLinks {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.headerLink {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.subTitleBox {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.mainTitleBox {
    background-color: #1F2937;
    padding-top: 50px;
}

.mainTitle {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.suprisedPikachu {
    max-height: 200px;
    max-width: 300px;
    margin-bottom: 20px;
}

.suprisedPikachuText {
    margin-top: 10px;
    color: #E5E7EB;
    font-size: 18px;
}

.mTBLeft {
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.learnMoreButton {
    color: #E5E7EB;
    margin-top: 20px;
    background-color: #3882f6;
    border: none;
    border-radius: 5%;
    padding: 10px;
}
.mainInfoBox {
    background-color: white;
}
.subInfoBox {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.IBTopPart {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.memeExamples {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 2000px;
    flex-wrap: wrap;
}
.memeExample {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 5%;
}

.memeExampleText {
    text-align: center;
    font-size: 18px;
}

.quoteBox {
    margin-top: 20px;
    background-color: #E5E7EB;
    padding-bottom: 50px;
}

.subQuoteBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quoteer {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}